:root {
  --bg: #c9c9c9;
  --bgCart: #FFF;
  --headerBg: rgba(44, 62, 80, 0.5);
  --text: #333333;
  --accent1: #a24ecc79;
  --accent2: #4ECCA3;
  --accent3:#cc4e77;
  --heading: #1A1A40;
  --shadow: rgba(0,0,0,0.1);
  --radius: 5px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

html h1 { color: var(--accent2); }
html h2 { color: var(--accent3); }
html h1, html h2 {
    text-shadow: 0 2px 3px var(--shadow);
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    min-height: 200vh;
    background-color: var(--bg);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background: var(--bgCart);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px var(--shadow);
}

/* Стили для header */
.main-header {
    max-width: 100vw;
    background-color: var(--accent1);
    padding: 1rem 0;
    box-shadow: 0 4px 8px var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo a {
    color: var(--bgCart);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 480px) {
    html, body {
        touch-action: manipulation; 
        -webkit-text-size-adjust: 100%; 
        text-size-adjust: 100%;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    body {
        padding: 100px 25px 0px 25px;
    }

    .container {
        width: 100vw;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    }

    .navbar {
        margin-left: 20px;
    }
    
    .logo a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
    }
}