<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="d-flex justify-content-center py-3 main-header" th:fragment="header">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a th:href="@{/}" 
         class="nav-link" 
         th:classappend="${activePage == 'home'} ? 'active' : ''"
         th:attr="aria-current=${activePage == 'home'} ? 'page' : ''">
        Главная
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/account}" 
         class="nav-link"
         th:classappend="${activePage == 'account'} ? 'active' : ''"
         th:attr="aria-current=${activePage == 'account'} ? 'page' : ''">
        Аккаунт
      </a>
    </li>
  </ul>
</header>